:root {
    /* --high: #ef5a69; */
    --light: #B1B1B1;
    --dark1: #0A0708;
    --dark2: #444444;
    /* --high2: #6200ff; */
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(120deg, var(--dark2), var(--dark1));
    color: white;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    /* text-decoration: underline; */
    text-decoration-color: white;
    text-align: center;
}

ul li a {
    text-decoration: underline;
    color: var(--dark1);
}

.u_l {
    margin-top: 120px;
}

ul {
    margin: 10px;
    padding: 30px;
    background-color: var(--light);
    border-radius: 30px;
    font-size: 15px;
}

ul li {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    list-style: disc;
    color: var(--dark1);
}

header span {
    font-size: 40px;
    text-decoration: none;
}